/*SECCION FOOTER*/


.footer {
    background-color: #16202e;
    text-align: center;
    color: #fff;
    /*padding: 10 px;*/
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #343a40;
}

.navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 15px;
}

.navbar-brand {
    color: #ffffff;
    display: flex;
    align-items: center;
}

    .navbar-brand img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2855, 55, 55, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}